.basket__title{
    padding: 0 0 40px 0;
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


// .rent__title{
//     color: #FFF;
//     font-family: Inter;
//     font-size: 64px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: normal;
//     text-align: center;
//     padding-bottom: 45px;
// }

// .rent__subtitle{
//     padding: 0 0 40px 0;
//     text-align: center;
//     color: #fff;
//     font-family: Inter;
//     font-size: 48px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
// }


