.object__title{
    color: #000;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.catalog__title{
    margin: 41px 0 58px 117px;
}


// .object__title{
//     color: #485B6E;
//     text-align: center;
//     font-family: Merriweather;
//     font-size: 40px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: 80px;
// }

// .menu__title{
//     margin: 41px 0 58px 117px;
// }

