.container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
}

.null{
    margin: 0;
}

.personal__container{
    margin: 50px 422px 100px 213px;
    display: flex;
    align-items: flex-start;
    gap: 300px;
}

.personalinform__container{
    padding-top: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.personaltext__container{
    display: flex;
    gap: 30px
}

.personal__text{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.personal__button{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    background: #485B6E;
    width: 322px;
    height: 74px;
    border: none;
    margin: 50px auto;
    text-align: center;
    transition: 1s all;
    margin-left: 317px
}